.Nav {
  max-width: 100vw;
  background-color: #ccc;
  height: 65px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
}
.back-container {
  display: flex;
  justify-content: flex-start;
}
.Back {
  height: 45px;
  cursor: pointer;
  margin-left: 2rem;
}
.publish,
.save {
  margin-left: 5em;
}
